.side-bar{
    width: inherit;
    text-align: center;
    border-radius: 30px;
    padding: 20px 0px;
    position: fixed;
    top: 60px;
    right: 10px;
}
.question{
    position: absolute;
    top: 450px;
    margin:4px, 4px;
    padding:4px;
    width: 500px;
    height: 190px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}